[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "vasicekfit"]
	path = vasicekfit
	url = https://github.com/externalmemory/vasicekfit-cran-package
